.w-100 {
  height: 100vh;
}


.slider:before {
  /* content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5); */
}








/* slider section */
.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  /* bottom:500px; */
  padding-bottom: 50px;
  z-index: 2;
}

.carousel-caption h1 {
  font-size: 45px;
  letter-spacing: 2px;
  /* margin-top: 25px; */
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;

}

/* Explore The elearning Institute */
.explore-bg {
  background: #F4FAFD;
}

.explore-details h2 {
  font-size: 40px;

}

.member h5 {
  font-size: 30px;
}

/* Ready to join */
.ready-join-left {
  width: 40%;
}

.ready-join-area {}



/* Meet Our Successfull Students tea */
.section-header {
  width: 40%;

}

/* FAQ section */
.FAQ {
  color: 289BDE;
}



/* ----------------------
responsive-css
---------------------- */

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width:767px) {
  .navbar-nav {
    text-align: center;
  }

  .carousel-caption {
    bottom: 125px;
  }

  .carousel-caption h1 {
    font-size: 17px;
  }

  .carousel-caption a {
    padding: 10px 15px;
  }

  .carousel-caption p {
    width: 100%;
    font-size: 12px;
  }

  .explore-details h2 {
    font-size: 25px;
  }

  .single-member {
    padding-top: 10px;
  }

  .about-text {
    /* padding-top:50px; */
  }

  .card {
    /* margin-bottom: 30px; */
    text-align: center;
  }

  /* .success-body{
    text-align: center;
  } */
  .section-header {
    width: 100%;
    text-align: center;
  }

  .section-header h2 {
    font-size: 35px;
  }

  .ready-join-left {
    width: 100%;
    text-align: center;
  }
  .ready-join-right{
    padding-top: 20px;
  }
  .ready-join-area {
    flex-direction: column;
  }
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (min-width:768px) and (max-width:991px) {
  .carousel-caption {
    bottom: 370px;
  }

  .carousel-caption p {
    width: 100%;
  }

  .explore-details h2 {
    font-size: 35px;
  }

  .card {
    /* margin-bottom: 20px; */
  }

  .single-member {
    padding-top: 10px;
  }

  .img-area img {
    /* width: 100%; */
  }

  .section-header {
    width: 60%;
  }

  .ready-join-left {
    width: 80%;
    text-align: center;
  }
  .ready-join-right{
    padding-top: 20px;
  }
  .ready-join-area {
    flex-direction: column;
  }
}