.w-100 {
  height: 100vh;
}

/* slider section start from here */
.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  padding-bottom: 200px;
  z-index: 2;
}

.carousel-caption h1 {
  font-size: 45px;
  letter-spacing: 2px;
  /* margin-top: 25px; */
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  letter-spacing: 1px;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;

}

/* About Digital Learning  */
.explore-bg {
  background: #F4FAFD;
}

.explore-details h2 {
  font-size: 40px;

}

.member h5 {
  font-size: 30px;
}

/* Ready to join */
.ready-join-left {
  width: 40%;
}

/* Meet Our Successfull Students tea */
.section-header {
  width: 40%;

}

/* courses */
.course-header {
  width: 40%;
  margin:auto;
  text-align: center;
}
.course-details h6{
  font-size:16px;
  
}
.course-details p{
  font-size: 14px;
}

/* ----------------------
responsive-css
---------------------- */

/* Medium devices (tablets, less than 992px) */
@media only screen and (min-width:768px) and (max-width:991px) {
  .carousel-caption {
    bottom: 370px;
  }

  .carousel-caption p {
    width: 100%;
  }

  .explore-details h2 {
    font-size: 35px;
  }

  .single-member {
    padding-top: 10px;
  }
  .section-header {
    width: 60%;
  }
  .course-header{
    width: 80%;
  }
  .course-details h6{
    font-size:18px;
  }
  .course-details p{
    font-size: 16px;
  }
  .ready-join-left {
    width: 80%;
    text-align: center;
  }
  .ready-join-right{
    padding-top: 20px;
  }
  .ready-join-area {
    flex-direction: column;
  }
}



/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width:767px) {
  .navbar-nav {
    text-align: center;
  }

  .carousel-caption {
    bottom: 125px;
  }

  .carousel-caption h1 {
    font-size: 25px;
  }

  .carousel-caption a {
    padding: 10px 15px;
  }

  .carousel-caption p {
    width: 100%;
    font-size: 12px;
  }

  .explore-details h2 {
    font-size: 25px;
  }

  .single-member {
    padding-top: 10px;
  }

  .card {
    text-align: center;
  }

  .section-header {
    width: 100%;
    text-align: center;
  }

  .section-header h2 {
    font-size: 35px;
  }
  .course-header{
    width: 100%;
    text-align: center;
  }
  .single-course{
    flex-direction: column;
  }
  .course-details{
    padding:20px 0;
    text-align: left;
  }
  .course-details h6{
    font-size:20px;
  }
  .course-details p{
    font-size: 18px;
  }
  .img-area img {
    width: 100%;
  }

  .ready-join-left {
    width: 100%;
    text-align: center;
  }
  .ready-join-right{
    padding-top: 20px;
  }
  .ready-join-area {
    flex-direction: column;
  }
}

